@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body{
    font-family: 'Poppins';
}

.logo{
    float:right;
}
/* .landing_img{
    margin:auto;
} */
.color-white {
    background: #EECDA3 no-repeat center fixed;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #EF629F, #EECDA3) no-repeat center fixed;  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #EF629F, #EECDA3) no-repeat center fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.color-violet {
    background: #B24592 no-repeat center fixed;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F15F79, #B24592) no-repeat center fixed;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F15F79, #B24592) no-repeat center fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}

.btn{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.btn-1{
    position: relative;
    font-size: 18px;
    font-weight: bold;
    background: #475058;
    padding: 7px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    margin: 10px;
}

.btn-1:hover,.btn-1:focus, .btn-1:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.btn-2{
    position: relative;
    font-size: 18px;
    font-weight: bold;
    background: #475058;
    padding: 7px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn-2:hover,.btn-2:focus, .btn-2:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.clg_info{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.clg_img img{
    margin-top: 40px;
    width:50%;
    /* height: 12vh; */
}

.clg_desc{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.rewards{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.reward_img img{
    width: 50%;
   
}  

.rewards_desc{
    margin-left: 20px;
    margin-right: 20px;
}

*,*::before,*::after{
    box-sizing: border-box;
} 

.footer{
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:-o-flex;
    display:flex;
    align-items: center;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color:#1a1a1b ;

}

.footer > *{
    flex: 1 100%;

}

.footer-left{
    margin-right: 1.25em;
    margin-bottom: 2em;
    
}

.footer-left img{
    width: 50px;

}

.footer-left h2{
    font-weight: 600;
    font-size: 17px;
}

.footer-ul{
    list-style: none;
    padding-left: 0;
}

.footer-li{
   line-height: 2em; 
}

.footer a{
    text-decoration: none;
}

.footer-right{
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:-o-flex;
    display:flex;
    flex-flow: row wrap;
    float: right;
}

.footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;
    
}

.box a{
    color: #999;
}

.footer-bottom{
    text-align: center;
    color: #999;
    padding-top: 50px;

}
.footer-left a{
    color:rgb(29, 138, 205);
}
.footer-left p{
    /* padding-right: 20%; */
    color: #999;
}

/* .socials a{
    background:#364a62;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
} */

.socials a i{
    color: #e7f2f4;
    padding-right: 10px;
    font-size: 20px;

} 

.socials :hover{
    color: #999ca1; 
}

@media screen and (min-width:600px) {
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex: 1 0px;
    }
    .footer-right{
        flex: 2 0px;
    }
} 

 @media (max-width:600px) {
    .footer{
        padding: 15px;
    }
    
}