@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

 body{
 	font-family: "Poppins";
 	margin:0;
 	line-height: 1.5;
 }

 *{
 	box-sizing: border-box;
 	margin: 0;
	padding: 0;
 }

 .color-white {
    background: #db217f no-repeat center fixed;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #db217f, #300173) no-repeat center fixed;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #db217f, #300173) no-repeat center fixed;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    text-align: center;
    margin-top: 25px;
}

nav {
    height: 80px;
}

nav img {
    position: absolute;
    top: 17px;
    left: 1%;
}

nav ul {
    float: right;
    margin-right: 25px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a {
    position: relative;
    font-size: 18px;
    color: #fff;
}

nav ul li a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .2s linear;
}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

 .container{
 	max-width: 1170px;
 	margin: auto;
 }
 .row{
 	display: flex;
 	flex-wrap: wrap;
 }
.section-title{
	flex:0 0 100%;
	max-width: 100%;
	margin-bottom: 60px;
}
.section-title h1{
	text-align: center;
	font-size: 36px;
	color:#000000;
}
 .services{
 	min-height: 100vh;
 	/* padding:10px 0; */
 }

.services .service-items{
	flex:0 0 100%;
	max-width: 100%;
}
.services .service-items .item{
	flex:0 0 33.33%;
	max-width: 33.33%;
	padding: 15px;
}

.services .service-items .item-inner{
	border:1px solid #dddddd;
	padding: 30px;
}
.services .service-items .read-more-cont{
	display: none;
}
.services .service-items .item-inner h3{
	font-size: 20px;
	color:#000000;
	margin-bottom: 30px;
	position: relative;
}
.services .service-items .item-inner h3::before{
  content: '';
  height: 1px;
  width: 80px;
  background-color: #000000;
  position: absolute;
  left:0;
  bottom:-10px;
}

.services .service-items .item-inner p{
	color:#555555;
	font-size: 16px;
	margin:0 0 30px;
}
.services .service-items .item-inner .btn{
	font-size: 16px;
	background-color: transparent;
	border:1px solid #555555;
	color:#f1e8e8;
	padding: 8px 15px;
	cursor: pointer;
}

.std_rules{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.color-violet {
    background: #B24592 no-repeat center fixed;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F15F79, #B24592)no-repeat center fixed;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F15F79, #B24592) no-repeat center fixed;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.color-indigo {
    background: #642B73 no-repeat center fixed;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C6426E, #642B73) no-repeat center fixed;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C6426E, #642B73)no-repeat center fixed;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.color-blue {
    background: #AA076B no-repeat center fixed;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #360235, #642B73) no-repeat center fixed;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #360235, #8f0c5c) no-repeat center fixed;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.popup-box{
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top:0;
	background-color: rgba(0,0,0,0.5);
	z-index: 500;
	visibility: hidden;
	opacity:0;
	transition: all 0.5s ease-in-out;
}
.popup-box.open{
  visibility: visible;
	opacity:1;	
}
.popup-box .popup-content{
	background-color: #ffffff;
	width: 600px;
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	border-radius: 8px;
}

.popup-box .popup-header{
	padding: 15px 40px 15px 15px;
	border-bottom: 1px solid #dddddd;
}
.popup-box .popup-header h3{
	margin:0;
	color:#E91E63;
	font-size: 20px;
}
.popup-box .popup-header .popup-close-icon{
	position: absolute;
    height: 30px;
    width: 30px;
    text-align: center;
    color: #555555;
    font-size: 28px;
    line-height: 30px;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
.popup-box .popup-body{
	padding: 15px;
	max-height: 300px;
	overflow-y: auto;
}
.popup-box .popup-body img{
	width: 100%;
	display: block;
	margin-top: 15px;
}
.popup-box .popup-body p{
	font-size: 16px;
	color:#555555;
	margin:0 0 15px;
}
.popup-box .popup-footer{
	padding: 15px;
	border-top:1px solid #dddddd;
	text-align: right;
}
.popup-box .popup-footer .btn{
	padding: 8px 15px;
	border:1px solid #555555;
	color:#555555;
	font-size: 16px;
	background-color: transparent;
	cursor: pointer;
	border-radius: 4px;
}
.popup-box .popup-footer .btn:focus{
	outline: none;
}


/*responsive*/

@media(max-width: 767px){
	.services .service-items .item{
	  flex:0 0 100%;
      max-width: 100%;
   }
   .popup-box .popup-content{
   	 width: calc(100% - 30px);
   }
}

.queries_head {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(245, 223, 182);
}

.queries {
    color: rgb(245, 223, 182);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.queries a {
    color: rgb(22, 161, 241);
}

.queries_contact1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    /* display: flex; */
}

.queries_contact2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.queries_contact3 {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #1a1a1b;
}

.footer>* {
    flex: 1 100%;
}

.footer-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
    text-align: center;
}

.footer-left a {
    color: rgb(29, 138, 205);
}

.footer-left img {
    width: 50px;
}

.footer-left h2 {
    font-weight: 600;
    font-size: 17px;
}

.footer-ul {
    list-style: none;
    padding-left: 0;
}

.footer-li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer-right {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    float: right;
}

.footer-right>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: #999;
}

.footer-bottom {
    text-align: center;
    color: #999;
    padding-top: 50px;
}

.footer-left p {
    /* padding-right: 20%; */
    color: #999;
}


/* .socials a{
    background:#364a62;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
} */

.socials a i {
    color: #e7f2f4;
    padding-right: 10px;
    font-size: 20px;
}

.socials :hover {
    color: #999ca1;
}

@media screen and (min-width:600px) {
    .footer-right>* {
        flex: 1;
    }
    .footer-left {
        flex: 1 0px;
    }
    .footer-right {
        flex: 2 0px;
    }
}

@media (max-width:600px) {
    .footer {
        padding: 15px;
    }
}





